.startPage {
    min-height: 40em;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.stockUp {
    color: green;
}

.stockDown {
    color: red;
   
}

.stock-graph {
    margin: 0 auto;
    & .small {
        float: left;
        width: 40%;
    }

}